@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */

body {
  font-family: 'Roboto Flex', sans-serif;
  background-color: #FFAC00;
}

.pedido {
  border-color: brown;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: larger;
}

p {
  border-color: brown;
  color: red;
  font-weight: bold;
  font-size: larger;
}

#bloque {
  text-align: center;
  border: 3px solid rgb(3, 3, 3);
  width: 400px;
  margin: 0 auto;
  background-color: white;
}

#searchResLocal {
  margin: 10px;
}

#tipo {
  margin: 40px;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Roboto Flex', sans-serif;
  color: white;
}

#greetings {
  color: black !important;
}

.pedido {
  color: white;
}

.showContenido p {
  color: white;
}

#greetings2Local {
  text-align: center;
  margin: 0 auto;
  color: white;
  position: relative;
}

#greetings2 {
  text-align: center;
  margin: 0 auto;
  color: white;
  position: relative;
}

#greetings3 {
  text-align: center;
  margin: 0 auto;
  color: white;
}

h2 {
  width: 60%;
  float: left;
}

#tablaEstadistica{
  display: table-row-group !important;
}

#reservas ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

#estadisticaLocal table{
  margin: 0 auto;
}

#miFavorito{
  border-color: brown;
  color: white;
  font-weight: bold;
  font-size: larger;
  margin-right: -120px;
}

#calificacionLocal {
  border-color: brown;
  color: white;
  font-weight: bold;
  font-size: larger;
  margin-right: -120px;
}

#contenidoLocal ul {
  margin-right: -123px !important;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

#contenidoLocal .star {
  height: 30px;
  width: 32px;
}

.col-md-6 {
  text-align: center;
  margin: 0 auto
}

h4 {
  float: right;
  font-weight: 400;
  width: 30%;
  margin-top: 26px;
  text-align: right;
}

#contenedorLocal {
  width: 800px;
  background-color: #0096d6;
  margin: 0 auto;
  background-image: url(/imagenes/home\ image.jpg);
  text-align: center;
  position: relative;
}

#contenedorLocal::before {
  content: "";
  background-color: #00000056;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#contenedorLocal div {
  position: relative;
}

#alertSearch {
  color: rgb(250, 3, 3);
  font-size: larger;
  font-family: cursive;
}

#entrada {
  background-image: url(/imagenes/home\ image.jpg);
  width: 100%;
  height: 570px;
  position: relative;
}

#entrada::before {
  content: "";
  background-color: #00000056;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#entradaLocal {
  background-image: url(/imagenes/home\ image.jpg);
  width: 100%;
  height: 570px;
  position: relative;
}

#entradaLocal::before {
  content: "";
  background-color: #00000056;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#tablaLocal table {
  margin-left: 12px;
}

#disable {
  margin-top: 20px;
  margin-right: -120;
}

#tablaReservar {
  margin: 0 auto !important;
}

#tablaLocal {
  margin-left: -116px !important;
  margin: 0 auto;
}

#imagen {
  text-align: center;
}

table,
th,
td {
  border-collapse: collapse;
  border: #000 1px solid;
  padding: 5px;
  background-color: #fff;
}

table img,
td>input[type=button] {
  width: 100px;
  min-width: 50px;
}

th {
  background-color: #303036;
  color: #fff;
  font-weight: normal;
}

#aux a {
  color: #0e1c20;
}

#contenedor {
  background-image: url(/imagenes/home\ image.jpg);
  text-align: center;
  width: 800px;
  background-color: #0096d6;
  margin: 0 auto;
  position: relative;
}

#contenedor div {
  position: relative;
}

#contenedor::before {
  content: "";
  background-color: #00000056;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.star {
  height: 30px;
  width: 10px;
}

.visual {
  margin: 0 auto;
}

label {
  min-width: 80px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.duracion {
  float: right;
}

textarea {
  min-height: 80px;
}

p.ver-mas {
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  color: #FC5130;
}

#logo {
  margin: 20px;
  float: left;
  width: 100px;
  float: left;
}

#aux {
  float: right;
  clear: right;
  padding: 0 24px 10px 0;
}

#navPrincipal a {
  color: #FFFAFF;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

#aux a {
  text-decoration: underline;
  cursor: pointer;
  color: #FFFAFF;
  font-size: 14px;
}

#navPrincipal {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  max-width: 400px;
}

#navPrincipal li {
  font-family: 'Roboto Flex', sans-serif;
  list-style-type: none;
  padding: 10px;
  border-bottom: 2px solid #FFFAFF;
  margin: 5px;
  float: left;
}

#cabezal {
  background-color: #303036;
}

#cabezalLocal {
  background-color: #303036;
}

#myfirstchart2 {
  margin-left: -50px;
}

#myfirstchart2 text {
  fill: white;
}

#contenidoLocal {
  /*background-color: #DFDFDF;*/
  width: 800px;
  padding: 20px 0;
  float: left;
}

#contenidoLocal {
  /*background-color: #DFDFDF;*/
  width: 800px;
  padding: 20px 0;
  float: left;
}

#contenidoLocal img {
  max-width: 100%;
  margin-bottom: 1%;
}

#contenido img {
  max-width: 100%;
  margin-bottom: 1%;
}

#contenidoLocal {
  min-height: 250px;
}

#lateral {
  background-color: #efefef;
  width: 290px;
  float: left;
  padding: 20px;
}

#lateral,
#contenido {
  min-height: 250px;
}

#pie {
  background-color: #303036;
  clear: both;
  padding: 20px;
  color: #fff;
  font-size: 12px;
}

#pieLocal {
  background-color: #303036;
  clear: both;
  padding: 20px;
  color: #fff;
  font-size: 12px;
}

input,
select,
textarea {
  background-color: #303036;
  color: #FFFAFF;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-family: 'Roboto Flex', sans-serif;
  min-width: 200px;
  border-radius: 5px;
  font-size: 14px;
}

input[type="button"] {
  background-color: #303036;
  color: #fff;
}

#pie a {
  text-decoration: none;
  color: #fff;
}

#pieLocal a {
  text-decoration: none;
  color: #fff;
}